@media only screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: 100%;
    }

    .main{
        height: 100%;
    }

    .template{
        background-position: center 25%;
        background-size: calc(100% - 40px);
    }

}